<div class="row mt-4">
  <mdb-card class="mb-4 wow fadeIn">
    <mdb-card-body class>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Team</th>
              <th scope="col">VS</th>
              <th scope="col">Team</th>
              <th scope="col">Over/Under</th>
              <th scope="col">Amount</th>
              <th scope="col">Won</th>
              <th scope="col">Lost</th>
              <th scope="col">Notes</th>
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let bets of lastWeekBets">
             <td>{{bets.teamOne}}</td>
             <td>vs</td>
             <td>{{bets.teamTwo}}</td>
             <td>{{bets.overUnder}}</td>
             <td>{{bets.amount}}</td>
             <td>{{bets.won}}</td>
             <td>{{bets.lost}}</td>
             <td>{{bets.additionalNotes}}</td>
           </tr>
          </tbody>
        </table>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>
