<div class="container">
  <div *ngFor="let bets of lastWeekBets" class="row mt-4">
    <mdb-card class="mb-4 wow fadeIn widthContainer100">
      <mdb-card-body>
        <div class="p-2" [ngClass]="{'lastWeekBetsWinner': bets.won, 'lastWeekBetsLoser':bets.lost}">
          <mdb-card-title>
            <h5 class="card-title text-white">{{bets.teamOne}} vs {{bets.teamTwo}}</h5>
          </mdb-card-title>
        </div>
        <hr>
        <mdb-card-text>
          <div>
            <h6>Amount: ${{bets.amount}}</h6>
          </div>
          <div>
            <h6>Over/Under: {{bets.overUnder}}</h6>
          </div>
          <div>
            <h6>Date or Date Rang: Sunday: 02/16/2021</h6>
          </div>
          <div>
            <h6>Notes: {{bets.additionalNotes}}</h6>
          </div>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
