<!-- Heading -->
<mdb-card class="mb-4 wow fadeIn">

  <!--Card content-->
  <mdb-card-body class="d-sm-flex justify-content-between">

      <h4 class="mb-sm-0 pt-3">
          <span>Dashboard</span>
      </h4>
  </mdb-card-body>

</mdb-card>
<!-- Heading -->

<!--Stats Cards-->
<app-stats-card (lastWeekBetsClick)="receiveLastWeekBetClick($event)"
(lastWeekProfitsClick)="receiveLastWeekProfitsClick($event)"></app-stats-card>
<!--Last Weeks Bets-->
<app-bets-last-week-table *ngIf="lastWeekBetsBtnToggle"></app-bets-last-week-table>
<!--Last Weeks Profits-->
<app-bets-last-week-profits *ngIf="lastWeekProfitsBtnToggle"></app-bets-last-week-profits>
